
{% if template == 'index' %}
    <div class="maps__intro">
        <h2 class="maps__intro__title">{{section.settings.title}}</h2>
        <p>{{section.settings.title_sub}}</p>
    </div>
{% else %}
    <div class="maps__step_header">
        <h5>1. create your map</h5>
    </div>
{% endif %}

<!-- Resources -->
{{ "ammap-lib.js" | asset_url | script_tag }}
{{ 'ammap-export.css' | asset_url | stylesheet_tag }}


<script>
    var countries = [];

    var map = AmCharts.makeChart( "mappanel", {
        "type": "map",
        "theme": "light",
        "projection": "miller",

        "panEventsEnabled": true,
        //"backgroundColor": "#666666",
        //"backgroundAlpha": 1,
        "dataProvider": {
            "map": "worldHigh",
            "getAreasFromMap": true
        },
        "areasSettings": {
            "autoZoom": false,
            "color": "#e3e3e3",
            "colorSolid": "#00a79d",
            "selectedColor": "#00a79d",
            "outlineColor": "#aaa",
            "rollOverColor": "#88CAE7",
            "rollOverOutlineColor": "#FFFFFF",
            "selectable": true
        },
        "listeners": [ {
            "event": "clickMapObject",
            "method": function( event ) {
                countries = [];
            
                // deselect the area by assigning all of the dataProvider as selected object
                map.selectedObject = map.dataProvider;

                // toggle showAsSelected
                event.mapObject.showAsSelected = !event.mapObject.showAsSelected;

                // bring it to an appropriate color
                map.returnInitialColor( event.mapObject );

                // let's build a list of currently selected countries
                
                $('.country_list-body li input[type="checkbox"]').prop('checked', false);
                for ( var i in map.dataProvider.areas ) {
                    var area = map.dataProvider.areas[ i ];
                    if ( area.showAsSelected ) {
                        countries.push( area.id );

                        $('.country_list-body li[data-code="' + area.id + '"] input[type="checkbox"]').prop('checked', true);
                    }
                }

                // active continent tab
                // console.log(event.mapObject);
                if(event.mapObject.showAsSelected) {
                    var area = $('.country_list-body li[data-code="' + event.mapObject.id + '"]').data('area');
                    $('.country_list-body ul').hide();
                    $('.country_list-body ul.area-' + area).show();

                    $('.country_list-header li').removeClass('is-active');
                    $('.country_list-header li[data-rel="' + area + '"]').addClass('is-active');
                }
            
                console.log(countries)
            
                if(countries.length) {
                    $('.maps__buttons_save').removeClass('button--disabled').addClass('button--green'); 
                } else {
                    $('.maps__buttons_save').removeClass('button--green').addClass('button--disabled'); 
                }

                localStorage.setItem("onselection", JSON.stringify(countries));

                if($('.maps__buttons_product').hasClass('button--green')) {
                    $('.maps__buttons_product').removeClass('button--green').addClass('button--disabled');
                }
            }
        } ]
    });
</script>

<!-- HTML -->
<div id="mappanel"></div>

{% include 'country_list' %}
{% include 'country_list_view' %}

<div class="maps__buttons">
    <div class="maps__buttons_area">
        <a class="button button--disabled maps__buttons_load">{{section.settings.prev_btn}}</a>
        <a href="#signin-modal" class="button button--disabled maps__buttons_save">{{section.settings.save_btn}}</a>
        <a class="button button--disabled maps__buttons_product">{{section.settings.step2_btn}}</a>
    </div>
</div>


{% schema %}
  {
    "name": "Map",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title of map section",
        "default": "Map Out Your Travels"
      },      
      {
        "id": "title_sub",
        "type": "text",
        "label": "Subtitle of map section",
        "default": "Use the interactive map below to select the countries you have traveled to. When you have completed your map, continue to step 2 and select the product you would like to have this map applied to!"
      },
      {
        "id": "prev_btn",
        "type": "text",
        "label": "Load button",
        "default": "load a previous map"
      },
      {
        "id": "save_btn",
        "type": "text",
        "label": "Save button",
        "default": "Save your map"
      },
      {
        "id": "step2_btn",
        "type": "text",
        "label": "Step 2 button",
        "default": "step 2: select your product!"
      }

    ]
  }
{% endschema %}